body, html {
    width: 100%;
    height: 100%;
}

body {
    background: gray;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/*wrapper & footer*/
.wrapper {
    overflow: hidden;
    min-width: 960px; /*как в макете*/
    height: 100%; 
}

.wrapper:after {
    content: "";
    display: block;
    height: 50px; /*как в макете*/
}
.container {
    width: 500px;
    margin: 0 auto;
    overflow: scroll;
}


