.social {
    display: block;
    margin-bottom: 20px;
    width: 128px;
    height: 128px;
}

@each $social in (fb, vk, tw) {
    .social_#{$social} {
       background-image: url('../img/#{$social}.png') center center no-repeat;
    
        &:hover {
             background-image: url('../img/#{$social}-hover.png') center center no-repeat;
        }
    }
}