body, html {
    width: 100%;
    height: 100%;
}

body {
    background: gray;
}
.wrapper {
    overflow: hidden;
    min-width: 800px; /*размер шаблона*/
    height: 600px;

}

.containеr {
    width: 700px; /*размер контента*/
    height: 500px;
    border: 2px dashed green;
    margin: 0 auto;
    background: black;
}

.test {
    background: red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}