.social {
  display: block;
  margin-bottom: 20px;
  width: 128px;
  height: 128px; }

.social_fb {
  background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/fb.png") center center no-repeat; }
  .social_fb:hover {
    background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/fb-hover.png") center center no-repeat; }

.social_vk {
  background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/vk.png") center center no-repeat; }
  .social_vk:hover {
    background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/vk-hover.png") center center no-repeat; }

.social_tw {
  background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/tw.png") center center no-repeat; }
  .social_tw:hover {
    background: url("https://github.com/sergiyshramko/site-burger/blob/master/img/tw-hover.png") center center no-repeat; }
