.best {
    background-image: url('../img/bg/best_bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 100%;
}

.section__title--best {
    color: #2f3234;
}

.best__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 90px;
}

.icon__scroll {
    margin-top: 80px;
}

.arrow {
    width: 30px;
    height: 18px;
    fill: #fff;
}

.best__block {
    width: 30%;
    text-align: center;
    margin-right: 40px;

}

.block__icons {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}

.icon {
    width: 100px;
    height: 100px;
}

.icon__hand {
    fill: #f8b43a;
}

.icon__natural {
    fill: #8ac03e;
}

.icon__meat {
    fill: #e25028;

}
.block__title {
    font-family: 'Lifehack';
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    color: #2f3234;
}

.block__description-text {
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #2f3234;
}

