.best {
    background: url('../img/bg/best_bg.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.best__list {
    display: flex;
}

.best__item {
    margin: 0 15px;
    flex: 1;
}

.best__pic {
    height: 90px;
    margin-bottom: 40px;
}

.best__icon {
    width: 100%;
    height: 100%;
}

.meat_color {
    fill: $orange;
}

.hand_color {
    fill: $yellow;
}

.natural_color {
    fill: $green;
}

.best__title {
    font-family: 'lifehack-Medium';
    font-size: 24px;
    margin-bottom: 25px;
}
