.hero {
    background-image: url('../img/bg/hero_bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 100%;
}

.logo {
  background: url('../img/logo.png') 0 0 no-repeat;
  width: 98px;
  height: 74px;
}

.hero__img {
 background: url('../img/content/drops.png');
 height: 424px;
 width: 451px;
}