.hero {
    background-image: url('../img/bg/hero_bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo__img {
    display: block;
    max-width: 90px;
    max-height: 70px;
    background: url("/img/logo.png") no-repeat;

}


