.btn {
    padding: 10px 15px;
    background: $orange;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    display: inline-flex;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}